<footer class="footer">
  <div class="footer-inner">
    <div>
      Copyright ©
      <span class="current-year"><%= currentYear%></span>
      <a href="<%= homeUrl%>" ><%= footerTitle%></a>
    </div>
  </div>
</footer>