<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title><%= title%></title>
	<link rel="stylesheet" href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/Primer/21.0.7/primer.css">
	<link rel="stylesheet" href="/docs/assets/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/docs/assets/lib/css/index.css" />
	<script type="text/javascript" src="/docs/assets/lib/js/util.js"></script>
</head>